name: Wails Build Windows & Linux
on: [push, pull_request]

jobs:
  build:
    # Define primitive variables for OS and Platform
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        platform: [linux/amd64, windows/amd64]
        # Exclude the invalid combination: Linux OS building a Windows binary
        exclude:
          - os: ubuntu-latest
            platform: windows/amd64
          # Exclude the invalid combination: Windows OS building a Linux binary
          - os: windows-latest
            platform: linux/amd64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Wails CLI
        run: go install 
